.product{
    width: 100%;
    margin: 4rem auto;
    padding: 25px;
    background-color: #cbd5e1;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.imgProduct{
    width: 50%;
    height: 700px;
    overflow-y: hidden !important;
}

.img{
    width: 100%;
    height: 100%;
}

.infoProduct{
    display: flex;
    justify-content:center ;
    align-items:  flex-start;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    width: 40%;
    height: 100%;
    margin-top: 6rem;
}

.productTitle{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.priceProduct{
    margin-bottom: 3rem;
    font-size: 2rem;
}

.descProduct{
    color: #334155;
    margin-bottom: 2rem;
}

.colorsProduct{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.color{
    margin-right: 1.5rem;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

.sizesPoduct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizesPoduct p{
    margin-right: 10px;
    font-size: 1rem;
    border: 1px solid #0f172a;
    padding: 5px 15px;
    transition: 0.4s all;
    cursor: pointer;
}

.sizesPoduct p:hover{
    background-color: #94a3b8;
}

.buyProduct{
    position: absolute;
    bottom: 7rem;
    right: 6rem;
    min-width: 150px;
    padding: 10px 18px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #fff;
    transition: 0.3s all;
    color: #111;
}

.buyProduct:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width:980px) {
    .imgProduct{
        width: 60%;
    }
}

@media screen and (max-width:980px) {
    .product{
        flex-direction: column;
        align-items: center;
        width: 100%;
        clip-path: none;
    }

    .imgProduct{
        width: 80%;
    }

    .infoProduct{
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .sizesPoduct{
        margin-bottom: 50px;
    }
    
    .buyProduct{
        bottom: 70px;
        left: 37%;
        z-index: 2;
    }
}

@media screen and (max-width:740px) {
.imgProduct{
    width: 80%;
    height: 80%;
}
}

@media screen and (max-width:570px) {
.productTitle{
    font-size: 3.5rem;
}

.buyProduct{
    left: 25%;
}
}

@media screen and (max-width:390px) {
    .buyProduct{
        left: 23%;
    }
}

@media screen and (max-width:360px) {
    .buyProduct{
        left: 19%;
    }
}